.description {
    display: flex;
    
        &__item {
            position: relative;
        }
        &__item:not(:last-child) {
            margin-right: 30px;
        }
        &__text {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding-top: 27px;
            padding-bottom: 27px;
    
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-align: center;
            text-transform: uppercase;
    
            color: var(--white-color);
            background: rgba(47, 48, 58, 0.8);
        }
}

