.feature {
    display: flex;
    padding: 0;

    &__item {
        flex-basis: 270px;
        margin-right: 30px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__title {
        margin-bottom: 10px;
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__text {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 1.71;
    }

    &__box-icon {
        padding: 25px 100px;
        margin-bottom: 30px;
        background: var(--time-bg-color);
        border-radius: 4px;
    }

}