
//.address-box {
    //margin-right: 70px;
//}
footer {
    padding: 60px 0;
    background-color: var(--hero-bg-color);
}

.container--footer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: baseline;
   gap: 60px;

   @media (min-width: 1200px) {
    flex-wrap: nowrap;
    gap: 93px;
   }
 }



.address {
    
    padding-top: 28px;

    &-box {
        text-align: center;

            @media (min-width:1200px) {
                text-align: start;
            }
        }
    
        &__list {
            text-align: center;

            @media (min-width:1200px) {
                text-align: start;
            
                }
        }

    &__link {
            color: rgba(255, 255, 255, 0.6);
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
                color: var(--accent-color);
                }

        &--map {
                display: inline-block;
                color: var(--white-color);
                }
        }
    
        &__item {
            margin-bottom: 12px;
        }
    
        &__item:last-child {
            margin-bottom: 0px;
        }
    
        
}




