.form-fild {

&__label {
    color: var(--primary-text-color);
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

&__input {
    padding: 0 12px 0 42px;
    height: 40px;
    width: 100%;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
            border-color: var(--accent-color);
        }

    }

&__control {
            position: relative;
    
        }
    
&__icon {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);

            .form-fild__input:focus+& {
                    fill: var(--accent-color);
                }
}
    


&__textarea {
    padding: 12px 16px;
    height: 120px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    &:focus {
            border-color: var(--accent-color);
        }
    
    
}

&__textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

}



.checkbox {

    &__label {
            position: relative;
            padding-left: 24px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
        }
    
    &__input {
            appearance: none;
        }
    
    &__icon {
            position: absolute;
            margin: 4px 8px 0 0;
            width: 16px;
            height: 15px;
            fill: transparent;
            background-color: var(--white-color);
            border: var(--title-text-color) solid 2px;
            border-radius: 2px;
            transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    &__input:checked+&__icon {
            fill: var(--white-color);
            background-color: var(--accent-color);
            border-color: var(--accent-color);
        }
    
    &__link {
            color: var(--accent-color);
            text-decoration-skip-ink: none;
        }
    
    &__submit {
            margin-top: 30px;
        }


}



.submit {
    display: flex;
    margin: 0 auto;
    padding: 10px 52px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 50px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    border-color: var(--accent-color);
    color: var(--white-color);
    background-color: var(--accent-bg-color);
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
            background: var(--accent-color);
        }
}

