.section {
    padding: 94px 0;

    &__title {
            margin-bottom: 50px;
            color: var(--title-text-color);
            font-weight: 700;
            font-size: 36px;
            line-height: 1.17;
            text-align: center;
        }
    
    &--top {
            padding-top: 0;
        }

    &--gray {
            background-color: var(--time-bg-color);
        }

    &--lower {
            padding: 60px 0px;
            background-color: var(--hero-bg-color);
    
        }
}

