.works {
    display: flex;
    flex-wrap: wrap;
}

.work {
    display: flex;
    justify-content: column;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
            margin-right: 0px;
        }
    
    &:nth-last-child(-n + 3) {
            margin-bottom: 0px;
        }

    &__link {
            box-shadow: none;
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
                }

            &:hover .work-thumb__overlay,
            &:focus .work-thumb__overlay {
                transform: translateY(0);
                        }
        }
    
        
}



.work-card {
    padding: 20px 24px;
    border: 1px solid var(--border-item-color);
    border-top: none;

    &__title {
            margin-bottom: 4px;
            color: var(--title-text-color);
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            letter-spacing: 0.06em;
        }
    
    &__text {
            margin-bottom: 0;
            color: var(--primary-text-color);
            line-height: 1.88;
        }
}




.work-thumb {
    position: relative;
    overflow: hidden;

    &__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: translateY(100%);
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            padding: 63px 27px;
            font-size: 18px;
            line-height: 1.56;
            letter-spacing: 0.03em;
    
            color: var(--white-color);
            background: rgba(33, 150, 243, 0.9);
        }
}


