.logo {

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;
    

    &--dark {
            color: var(--title-text-color);

        @media (min-width: 768px) {
                        margin-right: 88px;
                }
        
        @media (min-width: 768px) {
                        margin-right: 93px;
                }
        }
    
    &--white {
            color: var(--white-color);

        }

}




