.logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    list-style: none;
    text-decoration: none;

    &--dark {
            color: var(--title-text-color);
        }
    
    &--white {
            color: var(--white-color);
            margin-right:0;
        }

}




