.mobile-menu {
overflow: hidden;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
padding: 40px;
background-color: var(--white-color);
transform: translateY(-100%);
transition: transform 500ms;

display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content: space-around;

&.is-open {
transform: translateY(0);

}}




.mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    display: block;

    &:hover{
        fill: var(--accent-color);
    }

    
}

.mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;   
}

.mobile-menu__link {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &--current {
            color: var(--accent-color);
        }
}


.menu-contact__item {
    margin-bottom: 32px;
}

.menu-contact__tel {
    font-family: Roboto;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: var(--accent-color);
    margin-bottom: 32px;
    letter-spacing: 0.02em;
}

.menu-contact__email {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.menu-socials {
    margin-top: 64px;
    list-style: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.menu-socials__link {
    color: var(--accent-color);
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;

    &--left{
        padding-left: 0;
    }
}