.social-box {
    display: flex;
    padding: 16px 32px 0px 32px;
    gap: 10px;

    &__link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 44px;
            background-color: var(--white-color);
            fill: var(--icon-color);
            border-radius: 50%;
    
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
            &:last-child {
                margin-right: 0px;
            }
    
            &:hover,
            &:focus {
                background-color: var(--accent-color);
                fill: var(--white-color);
            }
    
            &--dark {
                fill: var(--white-color);
                background: rgba(255, 255, 255, 0.1);
            }
        }
    
    
    
        &__text {
            margin-bottom: 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: var(--white-color);
        }
    
        &--footer {
            padding: 0;
        }
}


